.thing-form {
    margin: 20px 0;
}


.hero-unit {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}

#row-one {
    background: lighten($bg-one, 40%);
    padding: 1em;
    min-height: 450px;
    height: 100%;
}

#row-one img {
    margin-top: 15px;
    border: 3px solid transparent;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#row-one p {
    text-align: center;
    height: 100%;
    width: 100%;
}

#row-two {
    padding: 1.5em;
    min-height: 450px;
    height: 100%;
}

#row-two img {
    display: block;
    height: 100%;
    width: 100%;
}

#row-two img:hover {
    background-color: blue;
}

#row-two p {
    text-align: center;
    height: 100%;
    width: 100%;
}

#icon {
    border-radius: 10px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
#icon:hover {
    background-color: aqua;
}

#info{
    display: none;
}

